<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Orbit Future Academy</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/orbit_logo.jpg') }} alt="Orbit Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; Orbit Future Academy</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#contact">CONTACT</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>ICA</h2>
				<h4>Iris ClAssifier</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					Aplikasi ini dibuat untuk menentukan spesies dari bunga iris berdasarkan pengukuran panjang serta lebar 
					dari <i>sepal</i> dan <i>petal</i> bunga. "Iris Setosa", "Iris Versicolor", dan "Iris Virginica" 
					adalah ketiga species bunga iris yang dapat diprediksi melalui aplikasi ini.
					Pengguna hanya cukup memberikan 4 nilai pengukuran untuk dapat mengetahui spesies dari bunga iris tersebut.
					Keempat nilai pengukuran tersebut adalah panjang <i>petal</i>, lebar <i>petal</i>, panjang <i>sepal</i>,
					dan lebar <i>sepal</i>.
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#28ace5">Mulai</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img src={{ url_for('static', filename='/images/app-display.JPG') }} width="500" ></img>
			</div>
		</div>
		<br>
	</div>
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
				<form>
					<div class="col-sm-6">
						<div class="card-group" style="width: 16rem;margin-bottom: 20px;">
							<img src="{{ url_for('video_feed') }}" width="auto">
							<div class="card-body">
								<!-- <h5 class="card-title">Card title</h5> -->
								<!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
							</div>
						</div>
					</div>
						<div class="card-body" style="width: 100rem;margin-bottom: 20px;">
							<img src={{ url_for('static', filename="images/email.png" ) }} height="100%" width="auto">
							<div class="card-body">
								<!-- <h5 class="card-title">Card title</h5> -->
								<!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
							</div>
						</div>
				</form>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- Bagian Halaman (contact) -->
	<div id="contact" class="container-fluid text-center">
		<br>
		<img src={{ url_for('static', filename='/images/orbit.png') }} width="270" ></img>
		<br>
		<div class="row slideanim">
			<div class="col-sm-4">
				<img src={{ url_for('static', filename='/images/email.png') }} width="130" ></img>
				<h4>EMAIL</h4>
				<p>info@orbitfutureacademy.sch.id</p>
			</div>
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<img src={{ url_for('static', filename='/images/alamat.png') }} width="80" ></img>
				<h4>ALAMAT</h4>
				<p>Veteran RI Building, 15th Floor – Plaza Semanggi <br> Jl. Jendral Sudirman Kav. 50 Jakarta, Indonesia 12930</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<img src={{ url_for('static', filename='/images/telepon.png') }} width="80" ></img>
				<h4>TELEPON</h4>
				<p>(+62)2125536346</p>
			</div>
			<div class="col-sm-6">
				<img src={{ url_for('static', filename='/images/installgram.png') }} width="80" ></img>
				<h4>INSTALLGRAM</h4>
				<p>orbitfutureacademyid</p>
			</div>
	    </div>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2>ANGGOTA KELOMPOK</h2>
		<h4>Tim Jatayu 2</h4>
		<br>
		<div class="row slideanim">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Hafidzun Alim</h4>
				<p>Informatika</p>
			</div>
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Rismawati</h4>
				<p>Teknologi Informasi</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Kevin Ermano</h4>
				<p>Sastra Indonesia</p>
			</div>
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Muhammad Rafli</h4>
				<p>Informatika</p>
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
